.contactContainer {
  text-align: center;
}
.formContact {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

    label {
      font-weight: bold;
      align-self: flex-start;
      margin: 15px 0 10px 0;
    }

    input {
      height: 40px;
      width: 100%;
      border-radius: 5px;
    }
    textarea {
      border-radius: 5px;
      width: 100%;
      height: 70px;
      margin-bottom: 10px;

      p {
        color: red;
      }
    }
  }
}
