.imageAccueil {
  img {
    width: 100%;
    margin-bottom: -7px;
  }
}
.presentation {
  text-align: center;
  padding: 20px;
}

.reservation {
  background-color: #000000;
  color: white;
  margin-top: -5px;

  .textReservation {
    padding: 20px 20px 30px 20px;
  }

  .reservez {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

    .buttonResa {
      background-color: #000000;
      text-align: center;
      width: 75%;
      border-radius: 5px;
      border: 1px solid white;
      cursor: pointer;
      &:hover {
        background-color: white;
        color: black;
      }
      p {
        padding: 0 10px 0 10px;
      }
    }
  }
}

.descriptionShopContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0 20px 0;
  background-color: #000000;

  .descriptionShop {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 20px;

    img {
      width: 8rem;
      height: 8rem;
    }
    p {
      padding: 20px;
    }
  }
  .imgDesktop {
    display: none;
  }
}

@media screen and (min-width: '1050px') {
  .indexContainer {
    padding: 0 50px 0 50px;
    background-color: #d5dee8;
    font-size: 1.5rem;
    line-height: 150%;

    .presentation {
      padding: 50px;
      min-height: 400px;
      background-color: white;
    }
    .reservation {
      text-align: center;
    }
    .descriptionShopContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      h2 {
        color: white;
        width: 100%;
      }
      .descriptionShop {
        width: 30%;
      }
    }
    .imageAccueil {
      background-color: #000000;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      border: solid;

      .imgDesktop {
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
      }
      .interieur {
        display: none;
      }
    }
  }
}
